<a href="https://colab.research.google.com/github/Zubyloops/zindi/blob/master/Classification_Hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Honour Code
I Zubair, Samsodien confirm - by submitting my - that the solutions in this notebook are a result of my own work and that I abide by the EDSA honour code (https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

In [0]:
"""Import Builtin Python Modules"""
import string
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='darkgrid', context='notebook', palette='viridis')
sns.despine(top=True, right=True)

import datetime
import re
import io

%matplotlib inline

from imblearn.over_sampling import SMOTE

"""Import SciKit Learn Modules"""
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

from sklearn.preprocessing import StandardScaler ,LabelEncoder
from sklearn.linear_model import LogisticRegression,SGDClassifier

from sklearn.metrics import classification_report, accuracy_score, log_loss, confusion_matrix

# Data import

from google.colab import files
uploaded = files.upload()

In [0]:
training = pd.read_csv('training.csv')
testing = pd.read_csv('test.csv')

In [0]:
train= training.copy()
test = testing.copy()

In [0]:
train.shape,test.shape

((95662, 16), (45019, 15))

In [0]:
df = pd.concat([train, test], axis = 0, sort=False)

# Data Cleaning

In [0]:
"""Python
col = ["TransactionId","BatchId","AccountId","SubscriptionId","CustomerId","ProviderId","ProductId","ChannelId"]
df[col] = df[col].replace(to_replace = r'\D+', value = '', regex = True)
#df["TransactionStartTime"] = df["TransactionStartTime"].replace(to_replace = r'\D+', value = ' ', regex = True)

df["TransactionStartTime"] = pd.to_date[link text](https://)time(df["TransactionStartTime"])
df["TransactionStartTime"]= df["TransactionStartTime"].values.astype('datetime64[s]')
df['TransactionStartTime'] = df['TransactionStartTime'].astype(object)

id_col =["TransactionId","BatchId","AccountId","SubscriptionId","SubscriptionId"]
df[id_col]= df[id_col].values.astype(int)"""

'Python\ncol = ["TransactionId","BatchId","AccountId","SubscriptionId","CustomerId","ProviderId","ProductId","ChannelId"]\ndf[col] = df[col].replace(to_replace = r\'\\D+\', value = \'\', regex = True)\n#df["TransactionStartTime"] = df["TransactionStartTime"].replace(to_replace = r\'\\D+\', value = \' \', regex = True)\n\ndf["TransactionStartTime"] = pd.to_date[link text](https://)time(df["TransactionStartTime"])\ndf["TransactionStartTime"]= df["TransactionStartTime"].values.astype(\'datetime64[s]\')\ndf[\'TransactionStartTime\'] = df[\'TransactionStartTime\'].astype(object)\n\nid_col =["TransactionId","BatchId","AccountId","SubscriptionId","SubscriptionId"]\ndf[id_col]= df[id_col].values.astype(int)'

df['diff_seconds'] = df['TransactionStartTime'] - df['TransactionStartTime'].shift(1)
df['diff_seconds']=df['diff_seconds']/np.timedelta64(1,'s')


df['diff_seconds'].iloc[0] = 0

# Encoding

In [0]:

sc = StandardScaler()
df['normAmount'] = sc.fit_transform(df['Amount'].values.reshape(-1, 1))
df['normValue'] = sc.fit_transform(df['Value'].values.reshape(-1, 1))

In [0]:
df.drop(["CurrencyCode","CountryCode",'Amount','Value',"TransactionStartTime"],axis=1,inplace= True)

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140681 entries, 0 to 45018
Data columns (total 13 columns):
TransactionId      140681 non-null int64
BatchId            140681 non-null object
AccountId          140681 non-null object
SubscriptionId     140681 non-null object
CustomerId         140681 non-null object
ProviderId         140681 non-null object
ProductId          140681 non-null object
ProductCategory    140681 non-null object
ChannelId          140681 non-null object
PricingStrategy    140681 non-null int64
FraudResult        95662 non-null float64
normAmount         140681 non-null float64
normValue          140681 non-null float64
dtypes: float64(3), int64(2), object(8)
memory usage: 15.0+ MB

In [0]:
le = LabelEncoder()
df['ProductCategory'] = le.fit_transform(df.ProductCategory.values)

In [0]:
df.head()

   TransactionId BatchId AccountId  ... FraudResult normAmount normValue
0          76871   36123      3957  ...         0.0  -0.043799 -0.078466
1          73770   15642      4841  ...         0.0  -0.052644 -0.086983
2          26203   53941      4229  ...         0.0  -0.048135 -0.082812
3            380  102363       648  ...         0.0   0.120970  0.102305
4          28195   38780      4841  ...         0.0  -0.058056 -0.081560

[5 rows x 13 columns]

In [0]:
df1 = pd.get_dummies(df,drop_first=True,columns =["ProductCategory","ProviderId","ProductId","ChannelId","PricingStrategy"])

In [0]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140681 entries, 0 to 45018
Data columns (total 55 columns):
TransactionId        140681 non-null int64
BatchId              140681 non-null object
AccountId            140681 non-null object
SubscriptionId       140681 non-null object
CustomerId           140681 non-null object
FraudResult          95662 non-null float64
normAmount           140681 non-null float64
normValue            140681 non-null float64
ProductCategory_1    140681 non-null uint8
ProductCategory_2    140681 non-null uint8
ProductCategory_3    140681 non-null uint8
ProductCategory_4    140681 non-null uint8
ProductCategory_5    140681 non-null uint8
ProductCategory_6    140681 non-null uint8
ProductCategory_7    140681 non-null uint8
ProductCategory_8    140681 non-null uint8
ProductCategory_9    140681 non-null uint8
ProviderId_2         140681 non-null uint8
ProviderId_3         140681 non-null uint8
ProviderId_4         140681 non-null uint8
ProviderId_5         140681 non-null uint8
ProviderId_6         140681 non-null uint8
ProductId_10         140681 non-null uint8
ProductId_11         140681 non-null uint8
ProductId_12         140681 non-null uint8
ProductId_13         140681 non-null uint8
ProductId_14         140681 non-null uint8
ProductId_15         140681 non-null uint8
ProductId_16         140681 non-null uint8
ProductId_17         140681 non-null uint8
ProductId_18         140681 non-null uint8
ProductId_19         140681 non-null uint8
ProductId_2          140681 non-null uint8
ProductId_20         140681 non-null uint8
ProductId_21         140681 non-null uint8
ProductId_22         140681 non-null uint8
ProductId_23         140681 non-null uint8
ProductId_24         140681 non-null uint8
ProductId_25         140681 non-null uint8
ProductId_26         140681 non-null uint8
ProductId_27         140681 non-null uint8
ProductId_3          140681 non-null uint8
ProductId_4          140681 non-null uint8
ProductId_5          140681 non-null uint8
ProductId_6          140681 non-null uint8
ProductId_7          140681 non-null uint8
ProductId_8          140681 non-null uint8
ProductId_9          140681 non-null uint8
ChannelId_2          140681 non-null uint8
ChannelId_3          140681 non-null uint8
ChannelId_4          140681 non-null uint8
ChannelId_5          140681 non-null uint8
PricingStrategy_1    140681 non-null uint8
PricingStrategy_2    140681 non-null uint8
PricingStrategy_4    140681 non-null uint8
dtypes: float64(3), int64(1), object(4), uint8(47)
memory usage: 16.0+ MB

print(len(df.AccountId.unique()))

print(len(df.CustomerId.unique()))
print(len(df.SubscriptionId.unique()))
print(len(df.BatchId.unique()))
print(len(df.TransactionId.unique()))

In [0]:
df1.head()

   TransactionId BatchId  ... PricingStrategy_2 PricingStrategy_4
0          76871   36123  ...                 1                 0
1          73770   15642  ...                 1                 0
2          26203   53941  ...                 1                 0
3            380  102363  ...                 1                 0
4          28195   38780  ...                 1                 0

[5 rows x 56 columns]

# Train/Test Split

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [0]:
X = df1.drop(columns=["FraudResult"])
y = train["FraudResult"]

In [0]:
X.shape,y.shape

((140681, 55), (95662,))

In [0]:
train.shape,test.shape,df1.shape

((95662, 16), (45019, 15), (140681, 56))

In [0]:
X_trainn = X[:95662].copy()
X_testt = X[95662:].copy()

In [0]:
X_trainn.shape,y.shape

((95662, 55), (95662,))

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X_trainn, y, test_size = 0.2, random_state = 0)
print("Number transactions X_train dataset: ", X_train.shape)
print("Number transactions y_train dataset: ", y_train.shape)
print("Number transactions X_test dataset: ", X_test.shape)
print("Number transactions y_test dataset: ", y_test.shape)

Number transactions X_train dataset:  (76529, 55)
Number transactions y_train dataset:  (76529,)
Number transactions X_test dataset:  (19133, 55)
Number transactions y_test dataset:  (19133,)

In [0]:
print("Before OverSampling, counts of label '1': {}".format(sum(y_train==1)))
print("Before OverSampling, counts of label '0': {} \n".format(sum(y_train==0)))

sm = SMOTE(random_state=2)
X_train_res, y_train_res = sm.fit_sample(X_train, y_train.ravel())

print('After OverSampling, the shape of train_X: {}'.format(X_train_res.shape))
print('After OverSampling, the shape of train_y: {} \n'.format(y_train_res.shape))

print("After OverSampling, counts of label '1': {}".format(sum(y_train_res==1)))
print("After OverSampling, counts of label '0': {}".format(sum(y_train_res==0)))

Before OverSampling, counts of label '1': 158
Before OverSampling, counts of label '0': 76371

After OverSampling, the shape of train_X: (152742, 55)
After OverSampling, the shape of train_y: (152742,)

After OverSampling, counts of label '1': 76371
After OverSampling, counts of label '0': 76371

# ML Model Training

In [0]:
logR = LogisticRegression()

logR = logR.fit(X_train, y_train)

y_pred_train = logR.predict(X_test)
print(accuracy_score(y_test, y_pred_train))

print('The accuracy score of the SVC is:', accuracy_score(y_test, y_pred_train))
print('\nThe test confusion matrix:\n', confusion_matrix(y_test,y_pred_train))
print('\n\nClassification Report:\n\n', classification_report(y_test, y_pred_train))

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.998484294151466
The accuracy score of the SVC is: 0.998484294151466

The test confusion matrix:
 [[19092     6]
 [   23    12]]


Classification Report:

               precision    recall  f1-score   support

           0       1.00      1.00      1.00     19098
           1       0.67      0.34      0.45        35

    accuracy                           1.00     19133
   macro avg       0.83      0.67      0.73     19133
weighted avg       1.00      1.00      1.00     19133

In [0]:
lr1 = LogisticRegression()
y_pred_train = lr1.fit(X_train_res, y_train_res.ravel())

a = y_pred_train.predict(X_test)

print(accuracy_score(y_test, a))
#print('The accuracy score of the LR is:', accuracy_score(y_test, y_pred_train))
#print('\nThe test confusion matrix:\n', confusion_matrix(y_test,y_pred_train))
print('\n\nClassification Report:\n\n', classification_report(y_test, a))

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9967595254272722


Classification Report:

               precision    recall  f1-score   support

           0       1.00      1.00      1.00     19098
           1       0.35      0.94      0.52        35

    accuracy                           1.00     19133
   macro avg       0.68      0.97      0.76     19133
weighted avg       1.00      1.00      1.00     19133

# Submission

a = y_pred_train.predict(X_test)

In [0]:
predictions = logR.predict(X_testt)

predictions = y_pred_train.predict(X_testt)

In [0]:
testing['FraudResult'] =  predictions


testing['FraudResult'] = y_pred_train.predict(X_testt)

In [0]:
testing = testing[["TransactionId",'FraudResult']]

In [0]:
testing

              TransactionId  FraudResult
0       TransactionId_50600            0
1       TransactionId_95109            0
2       TransactionId_47357            0
3       TransactionId_28185            0
4       TransactionId_22140            0
5      TransactionId_134338            0
6      TransactionId_109096            0
7       TransactionId_14249            0
8       TransactionId_69896            0
9       TransactionId_91468            0
10      TransactionId_18862            0
11      TransactionId_29342            0
12     TransactionId_116873            0
13      TransactionId_81197            0
14      TransactionId_83120            0
15      TransactionId_40882            0
16      TransactionId_89297            0
17     TransactionId_112716            0
18      TransactionId_61794            0
19     TransactionId_124957            0
20     TransactionId_105927            0
21      TransactionId_23455            0
22      TransactionId_44325            0
23     TransactionId_121440            0
24      TransactionId_72401            0
25     TransactionId_122323            0
26     TransactionId_100360            0
27     TransactionId_121720            0
28     TransactionId_121119            0
29      TransactionId_39420            0
...                     ...          ...
44989   TransactionId_59036            0
44990   TransactionId_73940            0
44991   TransactionId_71759            0
44992  TransactionId_124192            0
44993   TransactionId_58380            0
44994  TransactionId_116667            0
44995   TransactionId_60819            0
44996   TransactionId_74223            0
44997   TransactionId_56817            0
44998  TransactionId_138266            0
44999   TransactionId_17145            0
45000   TransactionId_42734            0
45001   TransactionId_51760            0
45002   TransactionId_62677            0
45003   TransactionId_14643            0
45004   TransactionId_34876            0
45005    TransactionId_9981            0
45006   TransactionId_31273            0
45007   TransactionId_68650            0
45008    TransactionId_2604            0
45009   TransactionId_46151            0
45010  TransactionId_109121            0
45011   TransactionId_30094            0
45012   TransactionId_73077            0
45013  TransactionId_135846            0
45014  TransactionId_116198            0
45015   TransactionId_24829            0
45016  TransactionId_102920            0
45017  TransactionId_128439            0
45018   TransactionId_45927            0

[45019 rows x 2 columns]

In [0]:
"""Export the resulting submission"""
testing.to_csv(r'Submission_6.csv', index = None, header=True)

from google.colab import files
files.download('Submission_6.csv')